<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">Hisab Kitab</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarCollapse"
  >
    <div class="navbar-nav">
      <a *ngIf="userIsAuthenticated" class="nav-item nav-link">Profile</a>
    </div>
    <div class="navbar-nav">
      <a
        *ngIf="!userIsAuthenticated"
        routerLink="/login"
        class="nav-item nav-link"
        >Login</a
      >
      <a
        *ngIf="!userIsAuthenticated"
        routerLink="/signup"
        class="nav-item nav-link"
        >Signup</a
      >
      <a
        *ngIf="userIsAuthenticated"
        (click)="onLogout()"
        class="nav-item nav-link"
        style="cursor: pointer;"
        >Logout</a
      >
    </div>
  </div>
</nav>
