<div class="container">
  <h2 class="header">Enter the title:</h2>
  <input
    class="form-control"
    placeholder="HEB Shopping"
    type="text"
    id="example-number-input"
  />
  <h2 class="header">Enter the amount paid below:</h2>
  <input
    class="form-control"
    type="number"
    value="42"
    id="example-number-input"
  />
  <h2 class="header">Paid by:</h2>
  <mat-form-field>
    <mat-label>Please Select</mat-label>
    <mat-select [(ngModel)]="userWhoPaid">
      <mat-option *ngFor="let user of users" value="user.fullName"
        >{{ user.fullName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2 class="exclude">Exclude:</h2>
  <section class="example-section">
    <mat-checkbox class="example-margin" *ngFor="let user of users">{{
      user.fullName
    }}</mat-checkbox>
  </section>
  <br />
  <br />
  <button (click)="addUser()" routerLink="" type="button" class="btn btn-light">
    Add Expense
  </button>
</div>
