<section id="main" class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="pageTitleBorder">
          <span>
            <a href="/directory">Directory</a>
          </span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div
        class="order-last order-md-first order-lg-first order-xl-first col-md-3"
      >
        <ul class="directory landingSideMenu">
          <li><a class="home" href="/directory/">Directory</a></li>
          <li>
            <a id="trigger-directory" href="/directory" class="nav-directory"
              >Find People &amp; Offices</a
            >
            <ul id="toggle-directory" class="toggleWrap indentFind">
              <li>
                <a href="/directory/findPeopleSearchAdvanced.cfm"
                  ><span>&raquo;</span> Find People (Advanced)</a
                >
              </li>
              <li>
                <a href="/directory/findOfficeSearchHierarchy.cfm"
                  ><span>&raquo;</span> Offices (by Hierarchy)</a
                >
              </li>
            </ul>
          </li>
          <li><a href="/about/leadership">University Leadership</a></li>
          <li><a href="/about/leadership">Administrative Offices</a></li>
          <li><a href="/directory/help/">Directory Help</a></li>
          <li class="last"><a href="/directory/contact/">Contact Us</a></li>
        </ul>
        <h2>General Information</h2>
        <ul>
          <li><span style="font-weight: bold;">Area Code:</span> 210</li>
          <li><span style="font-weight: bold;">Admissions:</span> 458-8000</li>
          <li>
            <span style="font-weight: bold;">Campus Closure:</span> 458-7669
            (SNOW)
          </li>
          <li><span style="font-weight: bold;">Emergency:</span> 458-4911</li>
          <li>
            <span style="font-weight: bold;">University Operator:</span>
            458-4011
          </li>
          <li>
            <span style="font-weight: bold;">University Police:</span> 458-4242
          </li>
        </ul>
        <h2>Helpful Numbers</h2>
        <ul>
          <li>
            <span style="font-weight: bold;">Blackboard Support:</span> 458-4057
          </li>
          <li>
            <span style="font-weight: bold;">Employee Assistance Program:</span>
            615-8880
          </li>
          <li>
            <span style="font-weight: bold;">Student Health Services:</span>
            458-4142
          </li>
          <li>
            <span style="font-weight: bold;"
              >OITConnect (Services &amp; Support):</span
            >
            458-5555
          </li>
          <li>
            <span style="font-weight: bold;">Telephone Services:</span> 458-5555
          </li>
          <!--<li><span style="font-weight:bold;"><a href="/oit/PDF/CiscoUnityUserGuide.pdf">Cisco Unity Phone Users Guide</a></span></li>-->
        </ul>
      </div>
      <div class="col-md-9 directory">
        <h2>Find People</h2>

        <fieldset>
          <legend>Search for UTSA Faculty or Staff by Name</legend>
          <br />
          <form
            id="findpeople"
            name="findpeople"
            action="findPeopleSearch.cfm"
            method="get"
          >
            <label for="name"><strong>Name:</strong></label>
            <div id="remote">
              <input
                class="typeahead"
                type="text"
                name="name"
                id="name"
                size="35"
              />&nbsp;&nbsp;
              <input id="submitpeople" type="submit" value="Search" />
            </div>
          </form>

          <br />
          <h3>
            <a href="/directory/findPeopleSearchAdvanced.cfm"
              >Advanced People Search</a
            >
            (Find UTSA faculty or staff by office, title, etc)
          </h3>
        </fieldset>
        <br />

        <p>&nbsp;</p>
        <div id="findPeopleResults"></div>
        <h2>Find Offices</h2>

        <fieldset>
          <legend>Search for UTSA Offices</legend>
          <br />

          <div id="directory1">
            <div class="alphabet">
              <a
                href="findOfficeSearchAlpha.cfm?firstchar=A"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >A</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=B"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >B</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=C"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >C</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=D"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >D</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=E"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >E</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=F"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >F</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=G"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >G</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=H"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >H</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=I"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >I</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=K"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >K</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=L"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >L</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=M"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >M</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=N"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >N</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=O"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >O</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=P"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >P</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=R"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >R</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=S"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >S</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=T"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >T</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=U"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >U</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=V"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >V</a
              >
              |

              <a
                href="findOfficeSearchAlpha.cfm?firstchar=W"
                style="
                  font-size: 1.3em;
                  font-weight: bold;
                  padding: 0 2px 0 3px;
                "
                >W</a
              >
              |

              <a
                style="font-weight: bold; font-size: 1.2em;"
                href="findOfficeSearchHierarchy.cfm"
                >List by Office Hierarchy</a
              >
            </div>
          </div>

          <br />
          <form
            id="findoffices"
            name="findoffices"
            action="findOfficeSearch.cfm"
            method="get"
          >
            <label for="oname"><strong>Office Name:</strong></label>
            <input type="text" name="oname" id="oname" size="30" />&nbsp;&nbsp;
            <input id="submitoffices" type="submit" value="Search" />
          </form>
          <br /><br />
        </fieldset>
        <br /><br />
      </div>
    </div>
  </div>
</section>
