<div class="row">
  <div class="col-sm-8">
    <div class="container">
      <app-split-page></app-split-page>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="list-group">
      <a href="#" class="heading list-group-item list-group-item-action active">
        Your Groups
        <span class="badge badge-light">5</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action"
        >Apartment 101</a
      >
      <a href="#" class="list-group-item list-group-item-action">Khatey Gang</a>
      <a href="#" class="list-group-item list-group-item-action"
        >Office Lunch Team</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        >Movie Breakers</a
      >
      <br />
      <p class="textClass">
        Note: Selecting one of the groups above automatically takes you to the
        split page for splitting amongst the group members in that particular
        group.
      </p>
      <button type="button" class="btn btn-secondary glyphicon glyphicon-plus">
        Create New
      </button>
    </div>
  </div>
</div>
