<div class="container">
  <h2 class="header">How many people do you want to split the expense with?</h2>
  <mat-form-field>
    <mat-label>Please Select</mat-label>
    <mat-select [(ngModel)]="selected" (ngModelChange)="createArray($event)">
      <mat-option>None</mat-option>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
    </mat-select>
  </mat-form-field>

  <h2 *ngIf="test" class="header">
    Please enter their information below:
  </h2>

  <div *ngFor="let item of list">
    <form class="example-container">
      <mat-form-field>
        <input matInput placeholder="Full Name" required />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
          [(ngModel)]="Person.email"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <br />
  <button *ngIf="test" disabled type="button" class="btn btn-dark">
    Next
  </button>
</div>
