.header {
  padding-top: 30px;
}

.example-full-width {
  padding-left: 20px;
}
.list-group {
  padding-top: 10px;
  width: 70%;
  /* padding-left: 40px; */
}
.heading {
  background-color: gray;
}
.welcome {
  align-content: center;
}
.textClass {
  font-weight: lighter;
}
.col-sm-4 {
  padding-top: 30px;
}

.container {
  padding-left: 50px;
}
